*.aps
*.bak
*.blend1
*.vcxproj.filters
*.vcxproj.user
.cmake/
.idea/
.vs/
/*.bat
/*.sdf
/*.sln
/*.suo
/3rdparty/emsdk/
/ALL_BUILD.vcxproj
/CMakeCache.txt
/CMakeFiles/
/CMakeLists.txt.user
/Debug/
/Makefile
/ReaperForge
/ReaperForge.dir/
/ReaperForge.vcxproj
/Release/
/bnk/
/build/
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
/cmake_install.cmake
/docs/deploy.sh
/docs/index.js
/docs/index.wasm
/docs/res/
/profile_Anon.ini
/psarc/
/settings.ini
/temp/
/tools/*/*.exe
/vst/
/vst3/
enc_temp_folder/
