.cmake/
.vs/
.idea/
enc_temp_folder/
/CMakeLists.txt.user
/CMakeCache.txt
/CMakeFiles/
/Debug/
/Release/
/Debug(StaticCRT)/
/Profile(StaticCRT)/
/Release(StaticCRT)/
/ReaperForge.dir/
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
/cmake_install.cmake
/Makefile
/ReaperForge
/build/
/3rdparty/emsdk/
/3rdparty/Wwise2022.1.0.7929/
/docs/deploy.sh
/docs/index.js
/docs/index.wasm
/docs/res/
/bnk/
/temp/
/psarc/
/vst/
/profile_Anon.ini
/settings.ini
/*.sln
/*.suo
/*.sdf
/ALL_BUILD.vcxproj
/ReaperForge.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.aps
*.bak
*.blend1
