.cmake/
.vs/
.idea/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Debug/
Release/
ReaperForge.dir/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake_install.cmake
Makefile
ReaperForge
build/
3rdparty/emsdk/
website/index.js
website/index.wasm
website/res/
temp/
songs/
settings.ini
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.aps
*.bak
*.blend1
